@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Google Sans Code", monospace;
}

.navbar.fixed-top {
  outline: 1px solid rgb(75, 79, 83);
}

.navbar.bg-primary {
    background-image: none !important;
}

.bg-primary {
    background-color: rgb(43, 48, 53) !important;
}

h1, h2, h3 {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

pre {
  border-radius: 7px;
}